.user-card {
  display: flex;
  width: 400px;
  margin: 20px;
  padding: 30px;
  border: 1px solid $border-color;
  border-radius: 10px;
  min-width: 400px;

  &:hover {
    border: 1px solid $point-color;
  }

  &__thumnail {
    margin-right: 30px;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    div {
      margin: 5px;
    }
  }

  .follow-button-box {
    display: flex;
    align-items: flex-end;
  }
}
