.streaming-container {
  display: grid;
  grid-template-columns: 1fr 415px;
  overflow: hidden;
}

.main-container {
  overflow: auto;

  canvas {
    width: 100%;
    background-color: black;
  }
}

.streamer-page {
  .output {
    display: none;

    &__video {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      display: none;
    }

    &__canvas {
      display: none;
    }
  }

  &__streaming-state {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
}

.chat-container {
  display: grid;
  grid-template-rows: 1fr 70px;
  overflow: hidden;
  border-left: 1px solid $sub-bg-color;

  .chat-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    background-color: $sub-bg-color;
    margin-bottom: 0px;
    padding: 15px 20px;

    &__item {
      padding-bottom: 13px;
    }

    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-bg;
      border-radius: 10px;
    }
  }

  .chat-form {
    padding: 15px 10px;

    &__form {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    &__input {
      width: auto;
    }
  }
}
