@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Kanit:wght@500&display=swap");
@import "./theme.scss";
@import "./login.scss";
@import "./home.scss";
@import "./streamingPage.scss";
@import "./viewerPage.scss";
@import "./userDetail.scss";
@import "./nav.scss";
@import "./search.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  text-align: center;
  line-height: 1em;
  color: $color;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}

#root {
  height: 100%;
}

:not(.chat-box) {
  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  position: relative;
  background-color: $bg-color;
}

a {
  margin: 10px;
}

ul,
ol {
  list-style: none;
}

button {
  height: 40px;
  color: $color;
  background-color: $point-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
  }

  &.follow-button:hover {
    padding: 11px 22px;
    transform: translate(2px, 1px);
  }
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: $top-height;
  padding-left: 60px;
}

.input-text {
  width: 300px;
  height: 40px;
  border: none;
  background-color: $sub-bg-color;
  border-radius: 4px;
  font-family: $body-font;
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px 0 40px;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 16px 48%;
  color: $theme-color;
  text-align: left;

  &::placeholder {
    font-family: $body-font;
    font-size: 15px;
    font-weight: 500;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $point-color;
  }
}

.user-thumnail {
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .streaming-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}


@media screen and (max-width: 690px) {
  .nav-top {
    flex-direction: column;

    &__title {
      display: none;
    }

    &__link-list {
      padding: 15px 0px 10px 0px;
    }
  }

  .nav-side {
    top: 100px;
  }

  .content-wrapper {
    padding-top: 100px;
  }
}
