$bg-color: #0e0e10;
$color: #e2e2e4;
$sub-bg-color: #212124;
$body-font: "Poppins", sans-serif;
$theme-color: #f9fafb;
$border-color: rgb(77, 77, 77);
$scrollbar-bg: rgb(1, 2, 3 / 40%);

$top-height: 50px;
$top-bg-color: #18181b;
$search-bg: #14162b;
$side-bg-color: #1f1f23;

$point-color: #e42968;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
